.mode-switch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0
}
.mode-switch span {
    padding: 5px;
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 var(--main-text-color);
}
.switch__checkbox {
    width: 2.5em;
    height: 1em;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    border-radius: .5em;
    outline: none;
    transition: .3s;
    position: relative;
    cursor: pointer;
}
.switch__checkbox:checked {
    background-color: #606060;
}
.switch__checkbox::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: center;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    transform: scale(1.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .3s;
}
.switch__checkbox:checked:after {
    left: 1.25em;
    background-color: var(--secondary-background-color);
}
