header {
    background-color: var(--primary-header-color);
    color: var(--main-text-color);
    transition: .5s;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1001;
    box-shadow: var(--secondary-box-shadow);
}
.page-title {
    font-size: 22px;
    padding: 15px;
}
.page-title span {
    margin: 0 3px;
}
.overflow-hidden {
    overflow: hidden;
}
