footer {
    background-color: var(--primary-footer-color);
    color: white;
    transition: .5s;
    box-shadow: var(--secondary-box-shadow);
}
footer h3 {
    padding: 15px;
    color: rgb(223, 223, 223);
}