@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color .3s;
    position: relative;
    min-height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--second-text-color);
    padding-bottom: 46px;
}
body.lock {
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.p-height {
    height: inherit;
}
.v-centered {
    align-items: center;
}
.centered {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}

h2 {
    color: var(--third-text-color);
    font-size: 30px;
    text-align: center;
    padding: 20px;
    line-height: 30px;
    background-color: var(--secondary-main-menu-background);
    box-shadow: var(--secondary-box-shadow);
    transition: var(--transition);
    border-radius: 15px;
    font-weight: 500;
}

h3 {
    color: var(--primary-text-color);
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding: 15px;
}