.main-menu {
    background-color: var(--primary-main-menu-background);
    border-radius: 15px;
    padding: 15px 15px;
    transition: var(--transition);
    position: relative;
    box-shadow: var(--secondary-box-shadow);
}
.menu-list li {
    
    margin: 5px 0;
    transition: var(--transition);
    border-radius: 15px;
}

.menu-list li:hover {
    background-color: var(--secondary-background-color);
    box-shadow: var(--secondary-box-shadow);
}
.menu-list li.active {
    background-color: var(--secondary-background-color);
}
.menu-list li:hover a {
    color: var(--white-text-color);
}
.menu-list li.active a {
    color: var(--white-text-color);
}

.menu-list li a {
    text-decoration: none;
    color: var(--third-text-color);
    font-size: 20px;
    width: 100%;
    padding: 15px 15px;
    display: block;
    transition: var(--transition);
}

@media(max-width: 767px) {
    .main-menu {
        position: fixed;
        width: 100%;
        transition: var(--transition);
        transform: translateX(-100%);
    }
    .main-menu.show {
        transform: translateX(0);
    }
    .main-menu.show .show-menu-btn {
        animation: none;
    }
    .show-menu-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #3697eb;
        box-shadow: var(--secondary-box-shadow);
        position: absolute;
        top: 50%;
        transform-origin: center center;
        transform: scale(1.1) translateY(-50%);
        right: -20px;
        transition: var(--transition);
        animation: .5s infinite alternate pulse;
    }
    .main-overlay {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }
    .main-overlay.show {
        visibility: visible;
        opacity: 1;
    }
    .show-menu-arrow {
        width: 15px;
        height: 15px;
        border: 3px solid rgba(255, 255, 255, .7);
        box-shadow: var(--secondary-box-shadow);
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}

@keyframes pulse {
    from {
        transform: scale(1.1) translateY(-50%);
    }
    to {
        transform: scale(1.15) translateY(-50%);
    }
}