.page-title-mobile {
    display: none;
    text-align: center;
    margin: 0;
    font-size: 40px;
}

.page-title-mobile a {
    text-decoration: none;
}

.page-title-mobile a span,
.page-title-main span {
    color: transparent;
    text-shadow: 0 0 0 var(--primary-checkbox-color);
    transition: var(--transition);
}


@media(max-width: 767px) {
    .page-title-mobile {
        display: block;
    }
    .page-title-main {
        display: none;
    }
}