.calculator-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px 15px;
    background-color: var(--primary-main-menu-background);
    box-shadow: var(--secondary-box-shadow);
    transition: var(--transition);
}
.calculator-page h2 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}
.calculator-page h3 {
    font-size: 18px;
    text-align: center;
}
.calculator-header-img {
    width: 50%;
}
.calculator-header-img img {
    width: 100%;
    object-fit: contain;
}
.input-section {
    width: 100% !important;
    background-color: var(--fourth-background-color);
    box-shadow: var(--secondary-box-shadow);
    transition: var(--transition);
    border-radius: 15px;
    padding: 15px;
}
.button-container {
    width: 100%;
}
.individual-input {
    display: flex;
    align-items: center;
    padding: 15px;
    padding-bottom: 0 !important;
}
.calculator-page input[type=number] {
    outline: none;
    background-color: var(--secondary-main-menu-background);
    box-shadow: var(--secondary-box-shadow) !important;
    transition: var(--transition);
    border-radius: 15px;
    border: none;
    color: var(--third-text-color) !important;
    font-size: 18px;
    text-align: center;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.calculator-page {
    font-size: 18px;
}
.calculator-page input[type=checkbox] {
    background-color: var(--secondary-checkbox-background);
}
.calculator-page input[type=number] {
    padding: 15px;
}
.checkbox-description {
    padding: 10px;
}
.checkbox-input {
    display: flex;
    align-items: center;
}
.button-section {
    display: flex;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.link-button.cancel {
    background-color: var(--warnings-color);
}
.link-button.cancel .un-btn {
    color: var(--main-text-color) !important;
}
.link-button.submit {
    background-color: var(--button-submit-color);
}
.result-section {
    width: 100%;
    background-color: var(--fourth-background-color);
    box-shadow: var(--secondary-box-shadow);
    transition: var(--transition);
    border-radius: 15px;
    padding: 15px;
}
.individual-result div:first-child {
    text-align: end;
}
.individual-result div:last-child {
    color: var(--third-text-color)
}

.radio-section {
    padding: 0 15px;
}

.radio-block {
    padding: 15px !important;
    /* background-color: var(--secondary-main-menu-background);
    box-shadow: var(--secondary-box-shadow); */
    transition: background-color var(--transition);
    border-radius: 15px;
}

.radio-label {
    font-size: 18px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.radio-label.active {
    color: var(--third-text-color);
}
.radio-label input[type=radio] {
    display: none;

}
.radio-label span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--secondary-background-color);
    transition: var(--transition);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.radio-label span::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: var(--transition);
}
.radio-label input[type=radio]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
}

@media(max-width: 767px) {
    .calculator-header-img {
        width: 100%;
    }
    .calculator-page h2 {
        font-size: 26px;
    }
    .calculator-page input {
        text-align: center;
    }
    .checkbox-input {
        justify-content: center;
    }
    .input-name {
        text-align: center;
        padding: 15px;
    }
    .individual-input {
        padding-bottom: 15px;
    }
    .radio-label {
        padding-bottom: 15px;
    }
    .radio-label:last-child {
        padding-bottom: 0;
    }
}