.what-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 15px 15px;
    background-color: var(--primary-main-menu-background);
    box-shadow: var(--secondary-box-shadow);
    transition: var(--transition);
}
.what-page h3 {
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    padding: 15px;
    margin: 15px 0;
}
.what-header-img {
    width: 50%;
    padding-top: 27%;
    position: relative;
}
.what-header-img img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
}
.link-button {
    background-color: var(--secondary-background-color);
    box-shadow: var(--secondary-box-shadow);
    border-radius: 15px;
    margin-top: 25px;
}
.what-page a {
    text-decoration: none;
    color: var(--primary-background-color);
    font-size: 20px;
    width: 100%;
    padding: 15px 15px;
    display: block;
    transition: var(--transition);
}

@media(max-width: 767px) {
    .what-header-img {
        width: 100%;
        padding-top: 54%;
    }
    .what-page h2 {
        font-size: 26px;
    }
    .link-button {
        width: 100%;
    }
    .link-button a {
        text-align: center;
    }
}